@model Parcial3_Aeropuerto.EN.Pasajero
@{
    Layout = null;
}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Eliminar Pasajero</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="text-danger mb-4">¿Estás seguro de eliminar este registro?</h5>
                <dl class="row">
                    <dt class="col-sm-4">Id Pasajero: </dt>
                    <dd class="col-sm-8">@Model.Id_pasajero</dd>

                    <dt class="col-sm-4">Nombre Pasajero: </dt>
                    <dd class="col-sm-8">@Model.Nombre @Model.Apellido</dd>
                </dl>
                
                <div class="alert alert-warning">
                    <i class="bi bi-exclamation-triangle"></i> ¡Esta acción no se puede deshacer!
                </div>

                <form asp-action="Delete" method="post" class="form-eliminar-pasajero">
                    <input type="hidden" name="id" asp-for="@Model.Id_pasajero" />
                    
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


