@model Parcial3_Aeropuerto.EN.Vuelos
@{
    Layout = null;
    var destino = ViewBag.Destino as Parcial3_Aeropuerto.EN.Destinos;
}


<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Eliminar Vuelo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <h5 class="text-danger mb-4">¿Estás seguro de eliminar este registro?</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Id Vuelo: </dt>
                        <dd class="col-sm-8">@Model.Id_vuelo</dd>

                        <dt class="col-sm-4">Destino: </dt>
                        <dd class="col-sm-8">@destino?.Nombre_destino</dd>

                        <dt class="col-sm-4">Cant. pasajeros: </dt>
                        <dd class="col-sm-8">@Model.Cantidad_pasajeros</dd>

                        <dt class="col-sm-4">Fecha: </dt>
                        <dd class="col-sm-8">@Model.Fecha</dd>
                    </dl>

                <div class="alert alert-warning">
                    <i class="bi bi-exclamation-triangle"></i> Esta acción no se puede deshacer.
                </div>

                <form asp-action="Delete" method="post" class="form-eliminar">
                    <input type="hidden" name="id" asp-for="@Model.Id_vuelo" />

                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>