<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aeropuerto El Plateado</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Parcial3_Aeropuerto.styles.css" asp-append-version="true" />
</head>

<body>

    <!-- ENCABEZADO SOLO LOGO Y NOMBRE -->
    <header class="bg-dark text-white py-3 shadow">
        <div class="header-contenido">
            <div></div>

            <h2 class="fw-bold m-0 titulo-header">
                <img class="logolayout" src="~/css/imgs/logo.png" />
                Aeropuerto El Sauce
            </h2>

            <nav class="menu-derecha">
                <div class="footer-boton">
                    <img src="~/css/imgs/iconosbotones/usuarios.png" />
                    <a class="btn btn-outline-light mx-2"
                       asp-controller="Home" asp-action="Index">Usuarios</a>
                </div>

                <div class="footer-boton">
                    <img src="~/css/imgs/iconosbotones/roles.png" />
                    <a class="btn btn-outline-light mx-2"
                       asp-controller="Home" asp-action="Index">Roles</a>
                </div>
            </nav>
        </div>
    </header>

    <!-- CONTENIDO -->
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- MENU ABAJO CENTRADO -->
    <footer class="bg-dark text-center py-3 fixed-bottom">
        <nav>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/reserva.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Home" asp-action="Index">Reservas</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/facturacion.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Home" asp-action="Privacy">Facturación</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/pasajero.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Pasajero" asp-action="Pasajero">Pasajeros</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/vuelos.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Home" asp-action="Home">Vuelos</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/aviones.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Aviones" asp-action="Aviones">Aviones</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/pasajero.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Home" asp-action="Home">Aerolineas</a>
            </div>
           
            
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>