@model Parcial3_Aeropuerto.EN.Facturacion

@{
    Layout = null;
}

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="editModalLabel">Editar Facturación</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form asp-action="Edit" asp-controller="Facturacion" method="post" id="EditForm">
                    @Html.AntiForgeryToken()

             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id_Facturacion" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Monto" class="form-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fecha" class="form-label"></label>
                <input asp-for="Fecha" class="form-control" type="date"/>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="modal-footer px-0 pb-0">
                 <button type="submit" class="btn btn-primary">Guardar cambios</button>
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
