@model Parcial3_Aeropuerto.EN.Aerolineas

@{
    Layout = null;
}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Eliminar Datos de Aerolinea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="fw-bold">¿Estás seguro de eliminar a:</p>
                <p class="text-secondary">@Model.Nombre_aerolinea</p>

                <div class="alert alert-warning">
                    <i class="bi bi-exclamation-triangle"></i> ¡Esta acción no se puede deshacer!
                </div>

                <form asp-action="Delete" method="post" class="form-eliminar-aerolinea">
                    <input type="hidden" name="id" asp-for="Id_aerolinea" />

                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

