html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/css/imgs/fondosis.png");
    background-size: cover; /* que cubra toda la pantalla */
    background-position: center; /* centrada */
    background-repeat: no-repeat; /* que no se repita */
    background-attachment: fixed;
    min-height: 105vh;
    overflow-y: auto;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.7); /* aqui controlas la opacidad */
        z-index: -1;
    }

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(32 60 115) !important;
}


.logolayout {
    height: 75px;
    width: 100px;
}

.icono-menu {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

/*Header*/
.header-contenido {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.titulo-header {
    text-align: center;
}

.menu-derecha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.footer-boton {
    display: flex;
    align-items: center;
}

/* FOOTER */
footer {
    background: #111;
    padding: 15px 0;
    position: static;
    width: 100%;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* CONTENEDOR ICONO + BOTON */
.footer-boton {
    display: flex;
    flex-direction: column; /* pone imagen arriba */
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: 0.3s; /* espacio entre imagen y botón */
}

    /* IMAGEN */
    .footer-boton img {
        width: 40px; /* tamaño icono */
        height: 40px;
        object-fit: contain;
    }

    /* BOTON */
    .footer-boton .btn {
        width: 140px;
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
        background-color: transparent;
    }


/* HOVER → SE MUEVE TODO JUNTO */
    .footer-boton:hover {
        transform: translateY(-6px) scale(1.05);
       
    }

    .footer-boton .btn-outline-light {
        --bs-btn-color: #f8f9fa;
        --bs-btn-border-color: none;
        --bs-btn-hover-color: #219AFC;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: #f8f9fa;
        --bs-btn-focus-shadow-rgb: 248, 249, 250;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #f8f9fa;
        --bs-btn-active-border-color: #f8f9fa;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: none;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #f8f9fa;
        --bs-gradient: none;
    }

    .footer-boton .btn:focus,
    .btn:active,
    .btn.active {
        outline: none !important;
        box-shadow: none !important;
        background-color: inherit !important;
        color: #8EE42B !important;
    }

.acciones {
    height: 20px;
    width: 20px;
}

.table-striped {
    --bs-table-bg: none;
    --bs-table-bg-type: rgb(0 2 0 / 40%);
}

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, #000000));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, rgb(178 177 177 / 2%));
}

.table-striped tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*Paginacion*/
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #203c73;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: rgb(32 60 115) !important;
    --bs-pagination-active-border-color: #001a41;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

/*Boton primario*/
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #203c73;
    --bs-btn-border-color: #203c73;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #203c73;
}
/*Maistrou de detalle mis compas'! Ejejejeje*/
/* Color del borde */
:root {
    --borde-tomselect: #0B2AEF;
}

/* Campo principal que se muestra_NM*/
.ts-control {
    border: 1px solid var(--borde-tomselect) !important;
    border-radius: 8px !important;
    min-height: 45px;
}

/* Menú desplegable, el modal del detalle_NM */
.ts-dropdown {
    margin-top: 4px !important;
    border: 2px solid var(--borde-tomselect) !important;
    border-radius: 8px !important;
    overflow: hidden;
}

    /* Opción activa o al pasar el mouse, esto es mas chulo' _NM*/
    .ts-dropdown .option:hover,
    .ts-dropdown .active {
        background-color: #203C73 !important;
        color: white !important;
    }