@model Parcial3_Aeropuerto.EN.Reservas
@{
    Layout = null;
    var pasajero = ViewBag.Pasajero as Parcial3_Aeropuerto.EN.Pasajero;
}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Eliminar Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="text-danger mb-4">¿Estás seguro de eliminar este registro?</h5>
                <dl class="row">
                    <dt class="col-sm-4">Id Reserva: </dt>
                    <dd class="col-sm-8">@Model.Id_reserva</dd>

                    <dt class="col-sm-4">Nombre Pasajero: </dt>
                    <dd class="col-sm-8">@pasajero?.Nombre @pasajero?.Apellido</dd>

                    <dt class="col-sm-4">Fecha: </dt>
                    <dd class="col-sm-8">@Model.Fecha</dd>
                </dl>
                
                <div class="alert alert-warning">
                    <i class="bi bi-exclamation-triangle"></i> ¡Esta acción no se puede deshacer!
                </div>

                <form asp-action="Delete" method="post" class="form-eliminar-reservas">
                    <input type="hidden" name="id" asp-for="@Model.Id_reserva" />

                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).on("submit", ".form-eliminar-reservas", function (e) {
    e.preventDefault();

    const form = this;

    Swal.fire({
    title: "¿Estás seguro?",
    text: "Esta información no se recuperará",
    icon: "warning",
    iconColor: "#FB0700",
    showCancelButton: true,
    confirmButtonText: "Sí, eliminar",
    confirmButtonColor: "#dc3545",
    cancelButtonText: "Cancelar",
    cancelButtonColor: "#6c757d"
    }).then((result) => {
    if (result.isConfirmed) {

    $.post($(form).attr("action"), $(form).serialize(), function () {

    Swal.fire({
    title: "Eliminado",
    text: "Se eliminó correctamente",
    icon: "success",
    iconColor: "#28a745",
    timer: 1600,
    showConfirmButton: false
    });

    setTimeout(() => {
    location.reload();
    }, 1400);

    });
    }
    });
    });
</script>