@model Parcial3_Aeropuerto.EN.Rol

@{
    Layout = null;
}

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="editModalLabel">Editar Rol</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form asp-action="Edit" asp-controller="Roles" method="post">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Id_rol" type="hidden" />

                    <div class="form-group">
                        <label asp-for="Nombre_rol" class="control-label"></label>
                        <input asp-for="Nombre_rol" class="form-control" />
                        <span asp-validation-for="Nombre_rol" class="text-danger"></span>
                    </div>

                    <div class="modal-footer px-0 pb-0">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

