@model Parcial3_Aeropuerto.EN.Aerolineas
@{
    Layout = null;
}

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">Registrar Nueva Aerolínea</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post" id="form-create-aerolinea">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id_aerolinea" type="hidden" />

                    <div class="mb-3">
                        <label asp-for="Nombre_aerolinea" class="form-label" ></label>
                        <input asp-for="Nombre_aerolinea" class="form-control"  />
                        <span asp-validation-for="Nombre_aerolinea" class="text-danger"></span>
                    </div>

                    <div class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Aerolínea</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    (function() {
        // CORRECCIÓN: El ID del form debe coincidir con el del HTML arriba
        const formulario = document.getElementById("form-create-aerolinea");
        
        
        if (formulario) {
            formulario.addEventListener("submit", function (e) {
                e.preventDefault();
                const nombre = formulario.querySelector('input[name="Nombre_aerolinea"]').value;
           
                if(nombre.trim()==""){
                    Swal.fire({
                        title: "Campo obligatorio",
                        text: "Por favor, escribe el nombre de la aerolínea.",
                        icon: "warning",
                        confirmButtonColor: "#0d6efd"
                    });
                    return;
                }

                Swal.fire({
                    title: "¡Logrado!",
                    text: "La aerolínea se guardó correctamente",
                    icon: "success",
                    iconColor: "#198754",
                    timer: 2000,
                    showConfirmButton: false,
                    timerProgressBar: true
                }).then(() => {
                    formulario.submit();
                });
            });
        } 
    })();
</script>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}