@model Parcial3_Aeropuerto.Models.Aerolineas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Estas seguro de eliminar este registro?</h3>
<div>
    <h4>Aerolineas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_aerolinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_aerolinea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_aerolinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_aerolinea)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" class="form-eliminar">
        <input type="hidden" asp-for="Id_aerolinea" />
        
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Aerolineas" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelectorAll(".form-eliminar").forEach(form => {
    form.addEventListener("submit", function (e) {
    e.preventDefault();

    Swal.fire({
    title: "¿Estás seguro?",
    icon: "warning",
    iconColor: "#FB0700",
    showCancelButton: true,
    confirmButtonText: "Sí, eliminar",
    confirmButtonColor: "#F46958",
    cancelButtonColor: "#6c757d",
    }).then((result) => {
    if (result.isConfirmed) {

    // 🔥 alerta con tiempo
    Swal.fire({
    title: "Eliminado",
    text: "Se eliminó correctamente",
    icon: "success",
    iconColor: "#37FB00",
    timer: 1050, //Temporixador XD
    timerProgressBar: true,
    showConfirmButton: false
    }).then(() => {
    form.submit(); // se envía después del tiempo xd
    });

    }
    });
    });
    });
</script>