@model Parcial3_Aeropuerto.EN.Destinos


@{
    Layout = null;
}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">¿Eliminar Destinos?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="text-danger mb-4">¿Estás seguro de eliminar este registro?</h5>
                
                <dl class="row">
                    <dt class="col-sm-4">ID Avión</dt>
                    <dd class="col-sm-8">@Model.Id_destino</dd>

                    <dt class="col-sm-4">Aerolínea</dt>
                    <dd class="col-sm-8">@Model.Aeropuertos.Nombre_aeropuerto</dd> @* O Nombre_aerolinea si lo tienes *@

                    <dt class="col-sm-4">Destino</dt>
                    <dd class="col-sm-8">@Model.Nombre_destino</dd>
                </dl>

                <div class="alert alert-warning py-2" role="alert">
                    ¡Esta acción no se puede deshacer!
                </div>
            </div>

            <div class="modal-footer">
                <form asp-action="Delete" method="post" class="form-eliminar-destino">
                 
                    <input type="hidden" name="id" value="@Model.Id_destino" />
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).on("submit", ".form-eliminar-destino", function (e) {
    e.preventDefault();

    const form = this;

    Swal.fire({
    title: "¿Estás seguro?",
    text: "Esta información no se recuperará",
    icon: "warning",
    iconColor: "#FB0700",
    showCancelButton: true,
    confirmButtonText: "Sí, eliminar",
    confirmButtonColor: "#dc3545",
    cancelButtonText: "Cancelar",
    cancelButtonColor: "#6c757d"
    }).then((result) => {
    if (result.isConfirmed) {

    $.post($(form).attr("action"), $(form).serialize(), function () {

    Swal.fire({
    title: "Eliminado",
    text: "Se eliminó correctamente",
    icon: "success",
    iconColor: "#28a745",
    timer: 1600,
    showConfirmButton: false
    });

    setTimeout(() => {
    location.reload();
    }, 1400);

    });
    }
    });
    });
</script>