@model Parcial3_Aeropuerto.EN.Aviones

@{
    Layout = null;
}

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet"> @*Toco usar la libreria TomSelect para poder darle estilacho_NM*@

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="modalAvionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg border-0 rounded-4">

            <div class="modal-header text-white" style="background: linear-gradient(135deg, #0d6efd, #203C73);">
                <h5 class="modal-title fw-bold" id="modalAvionLabel">
                    <i class="bi bi-airplane-engines-fill me-2"></i> Registrar Nuevo Avión
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-4">
                <form asp-action="Create" method="post" id="form-crear-avion">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                       <div class="mb-3">
                        <label asp-for="Id_aerolinea" class="form-label fw-bold">Aerolínea</label>

                        <select asp-for="Id_aerolinea"
                                asp-items="ViewBag.Id_aerolinea"
                                id="Id_aerolineax"
                                class="form-select">
                            <option value="">Seleccione o busque una aerolínea</option>
                        </select>

                        <span asp-validation-for="Id_aerolinea" class="text-danger small"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="Capacidad" class="form-label fw-bold">Capacidad</label>

                        <input asp-for="Capacidad"
                               class="form-control"
                               placeholder="Escriba la cantidad de 25 a 853" />

                        <span asp-validation-for="Capacidad" class="text-danger small"></span>
                    </div>

                    <div class="modal-footer px-0 pb-0 pt-3">
                        <button type="button" class="btn btn-light border px-4" data-bs-dismiss="modal">
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-primary px-4">
                            Guardar Avión
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script> @*Es la funcion del TomSelect*@

<script>
    setTimeout(() => {
    const select = document.querySelector("#Id_aerolineax");

        if (select && !select.tomselect) {
            const ts = new TomSelect("#Id_aerolineax", {
            create: false,
            allowEmptyOption: false,
            maxOptions: 1000,
            searchField: ["text"],
            placeholder: "Seleccione o busque una aerolínea",
            openOnFocus: true,
            hideSelected: false
        });

        ts.clear(true);

        ts.on("change", function () {
         $("#Id_aerolineax").valid();
         });
        }
    }, 200);
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}