@model Parcial3_Aeropuerto.EN.Aviones

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Aviones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input  type="hidden" asp-for="Id_avion" />
            <div class="form-group">
                <label asp-for="Id_aerolinea" class="control-label"></label>
                <input asp-for="Id_aerolinea" class="form-control" />
                <span asp-validation-for="Id_aerolinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Aviones" class="btn btn-secondary">Lista Aviones</a>
            </div>
        </form>
    </div>
</div>

