html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/css/imgs/fondosis.png");
    background-size: cover; /* que cubra toda la pantalla */
    background-position: center; /* centrada */
    background-repeat: no-repeat; /* que no se repita */
    background-attachment: fixed;
    min-height: 105vh;
    overflow-y: auto;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.7); /* aqui controlas la opacidad */
        z-index: -1;
    }

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Footer y header color*/
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(32 60 115) !important;
}


.logolayout {
    height: 75px;
    width: 100px;
}

.icono-menu {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

/*Header*/
.header-contenido {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.titulo-header {
    text-align: center;
}

.menu-derecha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.user-izquierda {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 14px;
    border-radius: 12px;
}


.usericon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.usertext {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 👈 clave */
    line-height: 1.2;
}

.usertext .nombre {
        color: #fff;
        font-weight: 600;
        font-size: 14px;
    }

.usertext .rol {
        color: #cfd8dc;
        font-size: 12px;
}

.cerrarsesion {
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.footer-boton {
    display: flex;
    align-items: center;
}

/* FOOTER */
footer {
    background: #111;
    padding: 15px 0;
    position: static;
    width: 100%;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* CONTENEDOR ICONO + BOTON */
.footer-boton {
    display: flex;
    flex-direction: column; /* pone imagen arriba */
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: 0.3s; /* espacio entre imagen y botón */
}

    /* IMAGEN */
    .footer-boton img {
        width: 40px; /* tamaño icono */
        height: 40px;
        object-fit: contain;
    }

    /* BOTON */
    .footer-boton .btn {
        width: 140px;
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
        background-color: transparent;
    }


/* HOVER → SE MUEVE TODO JUNTO */
    .footer-boton:hover {
        transform: translateY(-6px) scale(1.05);
       
    }

    .footer-boton .btn-outline-light {
        --bs-btn-color: #f8f9fa;
        --bs-btn-border-color: none;
        --bs-btn-hover-color: #219AFC;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: #f8f9fa;
        --bs-btn-focus-shadow-rgb: 248, 249, 250;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #f8f9fa;
        --bs-btn-active-border-color: #f8f9fa;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: none;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #f8f9fa;
        --bs-gradient: none;
    }

    .footer-boton .btn:focus,
    .btn:active,
    .btn.active {
        outline: none !important;
        box-shadow: none !important;
        background-color: inherit !important;
        color: #8EE42B !important;
    }

.acciones {
    height: 20px;
    width: 20px;
}

/*.table-striped {
    --bs-table-bg: none;
    --bs-table-bg-type: rgb(0 2 0 / 40%);
}*/

.table-striped {
    --bs-table-bg: transparent;
    --bs-table-striped-bg: rgba(0, 2, 0, 0.40);
    border-radius: 15px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}
    .table-striped thead tr:first-child th:first-child {
        border-top-left-radius: 15px;
    }

    .table-striped thead tr:first-child th:last-child {
        border-top-right-radius: 15px;
    }

    .table-striped tbody tr:last-child td:first-child {
        border-bottom-left-radius: 15px;
    }

    .table-striped tbody tr:last-child td:last-child {
        border-bottom-right-radius: 15px;
    }

    .table-striped th,
    .table-striped td {
        border-color: #000;
    }

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, #000000));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, rgb(178 177 177 / 2%));
}

.table-striped tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*Paginacion*/
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #203c73;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: rgb(32 60 115) !important;
    --bs-pagination-active-border-color: #001a41;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
}

/*Boton primario*/
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #203c73;
    --bs-btn-border-color: #203c73;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1a315f;
    --bs-btn-hover-border-color: #162a52;
    --bs-btn-focus-shadow-rgb: 32, 60, 115;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #162a52;
    --bs-btn-active-border-color: #132447;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #203c73;
    --bs-btn-disabled-border-color: #203c73;
}
/*Maistrou de detalle mis compas'! Ejejejeje*/
/* Color del borde */
:root {
    --borde-tomselect: #0B2AEF;
}

/* Campo principal que se muestra_NM*/
.ts-control {
    border: 1px solid var(--borde-tomselect) !important;
    border-radius: 8px !important;
    min-height: 45px;
}

/* Menú desplegable, el modal del detalle_NM */
.ts-dropdown {
    margin-top: 4px !important;
    border: 2px solid var(--borde-tomselect) !important;
    border-radius: 8px !important;
    overflow: hidden;
}

    /* Opción activa o al pasar el mouse, esto es mas chulo' _NM*/
    .ts-dropdown .option:hover,
    .ts-dropdown .active {
        background-color: #203C73 !important;
        color: white !important;
    }

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(32 60 115) !important;
}

/*Fondo card*/
.card {
    border-radius: 15px;
    transition: transform 0.2s ease;
}

.card:hover {
        transform: translateY(-4px);
 }

.card-title {
    color: white;
    font-weight: bold;
}

.card-fondo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    min-height: 250px;
}

.fondo-overlay {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.375rem;
    height: 100%;
}

/*Texto de la card*/

.card-text-En.Espera {
    color: greenyellow;
    font-size: 14px;
    font-weight: bold;
}

.card-text-En.Curso {
    color: cyan;
    font-size: 14px;
    font-weight: bold;
}

.card-text-Finalizado {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

/* IMÁGENES SEGÚN ID_DESTINO */
.Argentina {
    background-image: url('/css/imgs/destinos/Argentina.png');
}

.Belice {
    background-image: url('/css/imgs/destinos/Belice.png');
}

.Brazil {
    background-image: url('/css/imgs/destinos/Brazil.png');
}

.Canadá {
    background-image: url('/css/imgs/destinos/Canada.png');
}

.Chile {
    background-image: url('/css/imgs/destinos/Chile.png');
}

.Colombia {
    background-image: url('/css/imgs/destinos/Colombia.png');
}

.Costa.Rica {
    background-image: url('/css/imgs/destinos/Costa_Rica.png');
}

.El.Salvador {
    background-image: url('/css/imgs/destinos/El_Salvador.png');
}

.España {
    background-image: url('/css/imgs/destinos/España.png');
}

.Estados.Unidos {
    background-image: url('/css/imgs/destinos/Estados_Unidos.png');
}

.Guatemala {
    background-image: url('/css/imgs/destinos/Guatemala.png');
}

.Honduras {
    background-image: url('/css/imgs/destinos/Honduras.png');
}

.Italia {
    background-image: url('/css/imgs/destinos/Italia.png');
}

.Japón {
    background-image: url('/css/imgs/destinos/Japón.png');
}

.México {
    background-image: url('/css/imgs/destinos/México.png');
}

.Nicaragua {
    background-image: url('/css/imgs/destinos/Nicaragua.png');
}

.Panamá {
    background-image: url('/css/imgs/destinos/Panama.png');
}

.Perú {
    background-image: url('/css/imgs/destinos/Perú.png');
}

.Republica.Dominicana {
    background-image: url('/css/imgs/destinos/República_Dominicana.png');
}

.Rusia {
    background-image: url('/css/imgs/destinos/Rusia.png');
}

.Turquía {
    background-image: url('/css/imgs/destinos/Turquía.png')
}

.Suiza {
    background-image: url('/css/imgs/destinos/Suiza.png')
}


.btn-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FFA116;
    --bs-btn-border-color: #FFA116;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e68f0f;
    --bs-btn-hover-border-color: #cc7f0d;
    --bs-btn-focus-shadow-rgb: 255, 161, 22;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cc7f0d;
    --bs-btn-active-border-color: #b36f0b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FFA116;
    --bs-btn-disabled-border-color: #FFA116;
}