@model Parcial3_Aeropuerto.EN.Aeropuertos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="modal fade" id="DeleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Eliminar Aeropuerto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="text-danger mb-4">¿Estás seguro de eliminar este registro?</h5>
                
                <dl class="row">
                    <dt class="col-sm-4">ID Aeropuerto</dt>
                    <dd class="col-sm-8">@Model.Id_aeropuerto</dd>

                    <dt class="col-sm-4">Aeropuerto</dt>
                    <dd class="col-sm-8">@Model.Nombre_aeropuerto</dd> @* O Nombre_aerolinea si lo tienes *@

                    <dt class="col-sm-4">País</dt>
                    <dd class="col-sm-8">@Model.Pais</dd>
                </dl>

                <div class="alert alert-warning py-2" role="alert">
                    Esta acción no se puede deshacer.
                </div>
            </div>

            <div class="modal-footer">
                <form asp-action="Delete" method="post" class="form-eliminar-aeropuerto">
                 
                    <input type="hidden" name="id" value="@Model.Id_aeropuerto" />
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelectorAll(".form-eliminar-aeropuerto").forEach(form => {
    form.addEventListener("submit", function (e) {
    e.preventDefault();

    Swal.fire({
    title: "¿Estás seguro?",
    icon: "warning",
    iconColor: "#FB0700",
    showCancelButton: true,
    confirmButtonText: "Sí, eliminar",
    confirmButtonColor: "#F46958",
    cancelButtonColor: "#6c757d",
    }).then((result) => {
    if (result.isConfirmed) {

    // 🔥 alerta con tiempo
    Swal.fire({
    title: "Eliminado",
    text: "Se eliminó correctamente",
    icon: "success",
    iconColor: "#37FB00",
    timer: 1050, //Temporixador XD
    timerProgressBar: true,
    showConfirmButton: false
    }).then(() => {
    form.submit(); // se envía después del tiempo xd
    });

    }
    });
    });
    });
</script>
